<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Room</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    <tr ng-repeat="reservation in between(reservationDate)">
        <td>{{reservation.reservationId}}</td>
        <td><a ui-sref="room.detail({roomId: reservation.roomId, from: 'booking.day({year:\'{{reservationDate.getFullYear()}}\', month: \'{{reservationDate.getMonth() + 1}}\', day: \'{{reservationDate.getDate()}}\'})|{{reservationDate.getTime()}}'})">{{getRoom(reservation.roomId).roomNumber}}</a></td>
        <td><a ui-sref=".detail({reservationId: reservation.reservationId})" class="btn">View</a></td>
    </tr>
    </tbody>
</table>
